@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #DDF6E5;
    background-image: url(imagens/DSC_4432.jpg) no-repeat;
    background-size: 100% 100%;
}

header {
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    width: 200px;
    height: 100%;
}

/*---Main---*/

#home .conteiner{
    width: 100%;
    height: 100vh;
    background: url(imagens/fotobackground.jpg)no-repeat;
    background-size: 100% 100%;
    
}