@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #BED4BF;
}

header{
    display: flex;
    justify-content: left;
    font-family: 'Hurricane', cursive;
}

.logo h1{
    color: white;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 50px;
}

.destaque{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.area-titulo h3{
    color: white;
    font-weight: normal;
    margin-bottom: -40px;
}

.area-titulo h1{
    color: white;
    font-size: 45px;
    line-height: 50px;
}

.area-titulo a{
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.534);
    background-color: #CDD4BE;
}

.area-titulo a:hover{
    background-color: #DDF6E5;
}

.image1 img{
    width: 460px;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
}