@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #DDF6E5;
}

header {
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo{
    width: 200px;
    height: 100%;
}